<mat-toolbar class="flex justify-between" id="toolbar">
    <div class="flex items-center">
        <button class="px-2 text-white text-base">
            <mat-icon>menu</mat-icon>
        </button>
        <p class="px-2 pt-2 text-base">Quizsource</p>
    </div>

    <div class="flex items-center">
        <mat-dialog-actions>
            <button class="px-4 py-2 text-white text-base" (click)="openDialog()"> 
            <mat-icon>login</mat-icon>
        </button>
        </mat-dialog-actions>
        
    </div>
</mat-toolbar>

